@mixin persons {
  color: white;
  height: 550px;
  .info:not(.name) {

    font-size: 14px!important;
  }
  .info.linkedin {
    white-space: wrap;
    overflow: hidden;
    p {
      max-width: 200px;
      a {
        display: block;
      }
    }
  }
  .name {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}